**/*.rs.bk
/target
/extra
/archives
/resources
/libs
/bin
/Settings.toml
/.metadata.json
/.reading-states
/.fat32-epoch
/.thumbnail-previews
/.trash
/css/*-user.css
/hyphenation-patterns
/dictionaries
/dist
/bundle
/bin-backup
/logs
/doc
/.git
/thirdparty/*/*
!/thirdparty/*/*kobo*
Dockerfile
*.Dockerfile
.dockerignore
.gitignore
**/*.md
locally-installed-packages.txt
gcc-control.txt
mupdf-1.23.6-source.tar.gz
